:root {
  --md-sys-color-primary: rgba(103,80,164, 1);
  --md-sys-color-on-primary: rgba(255, 255, 255, 1); /* Black text on primary color background */
  --md-sys-color-primary-container: rgba(91, 39, 185, 1);
  --md-sys-color-on-primary-container: rgba(255, 255, 255, 1); /* White text on dark primary color background */

  --md-sys-color-secondary: rgba(98, 45, 163, 1); /* A slightly different shade of purple */
  --md-sys-color-on-secondary: rgba(255, 255, 255, 1); /* White text on secondary color background */
  --md-sys-color-secondary-container: rgba(67, 32, 109, 1);
  --md-sys-color-on-secondary-container: rgba(255, 255, 255, 1); /* White text on dark secondary color background */

  --md-sys-color-tertiary: rgba(126, 0, 109, 1); /* A shade of pink/purple */
  --md-sys-color-on-tertiary: rgba(255, 255, 255, 1); /* White text on tertiary color background */
  --md-sys-color-tertiary-container: rgba(85, 0, 74, 1);
  --md-sys-color-on-tertiary-container: rgba(255, 255, 255, 1); /* White text on dark tertiary color background */

  /* Dark theme background and surface colors */
  --md-sys-color-background: rgba(18, 18, 18, 1); /* Almost black background */
  --md-sys-color-on-background: rgba(255, 255, 255, 1); /* White text on background */
  --md-sys-color-surface: rgba(32, 32, 32, 1); /* Dark grey surface */
  --md-sys-color-on-surface: rgba(255, 255, 255, 1); /* White text on surface */
  --md-sys-color-on-surface-variant: rgba(255, 255, 255, .6);
  /* ... add other color definitions as needed */

  --md-menu-container-color: #36393f;
  --md-filled-select-text-field-container-color:  #36393f;
  --md-outlined-select-text-field-container-color:  #36393f;
  --mdc-select-fill-color: rgba(32, 32, 32, 1); /* Dark grey */
  --mdc-select-ink-color: rgba(255, 255, 255, 1); /* White text */
  --md-filled-field-trailing-content-color: black;
  --md-list-item-label-text-size: 14px;
}

md-select md-list-item[selected], md-select md-list-item[activated] {
  --mdc-theme-primary: rgba(103,80,164, 1); /* Your primary color for selected/activated item background */
  --mdc-list-item-graphic-fill-color: rgba(255, 255, 255, 1); /* White text for selected/activated item */
  --mdc-list-item-text-color: rgba(255, 255, 255, 1); /* White text for selected/activated item */
}

md-select md-list-item:hover {
  --mdc-theme-primary: rgba(158, 61, 255, 0.1); /* Slightly transparent primary color for hovered item background */
  --mdc-list-item-graphic-fill-color: rgba(255, 255, 255, 1); /* White text for hovered item */
  --mdc-list-item-text-color: rgba(255, 255, 255, 1); /* White text for hovered item */
}

.button-danger {
  --md-filled-button-container-color: rgba(126, 0, 0, 1);
  --md-filled-tonal-button-container-color: rgba(126, 0, 0, 1);
}

.greenFab {
  --md-fab-container-color: darkgreen;
  --md-fab-icon-color: whitesmoke;
  --md-fab-label-text-color: whitesmoke;
}

.redFab {
  --md-fab-container-color: rgba(126, 0, 0, 1);
  --md-fab-icon-color: whitesmoke;
  --md-fab-label-text-color: whitesmoke;
}
