/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DiabloHeavy";
    src: url("assets/fonts/DiabloHeavy.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloHeavy.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloHeavy.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloHeavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DiabloLight";
    src: url("assets/fonts/DiabloLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloLight.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloLight.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloLight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: DiabloLight !important;
    padding: 0 !important;
    background-color: black !important;
    color: white !important;
}

.cursor-pointer {
    cursor: pointer;
}

.unique-text {
    color: #c7b790ed;
}

.set-text {
    color: #478e47;
}

.enhanced {
    color: #6f5df7;
}

.set-header {
    font-size: 26px;
}

.requirement {
    color: #ef4f4f;
}

.runes span {
    padding: 0 5px 0 5px;
}

.runeword-types span {
    padding: 0 5px 0 5px;
}
