@use "@material/theme"with ($primary: #4b4b4b,
    $secondary: #f6a821,
    $on-primary: #ffffff,
    $on-secondary: #ffffff,
);

@use "@aurelia-mdc-web/all";
@import 'md-overrides';

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "DiabloHeavy";
    src: url("assets/fonts/DiabloHeavy.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloHeavy.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloHeavy.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloHeavy.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DiabloLight";
    src: url("assets/fonts/DiabloLight.eot"); /* IE9 Compat Modes */
    src: url("assets/fonts/DiabloLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/DiabloLight.otf") format("opentype"), /* Open Type Font */
    url("assets/fonts/DiabloLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/DiabloLight.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/DiabloLight.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: DiabloLight !important;
    padding: 0 !important;
    background-color: black !important;
    color: white !important;
    font-size: 14px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.unique-text {
    color: #c7b790ed;
}

.set-text {
    color: #478e47;
}

.enhanced {
    color: #6f5df7;
}

.set-header {
    font-size: 26px;
}

.requirement {
    color: #ef4f4f;
}

.runes span {
    padding: 0 5px 0 5px;
}

.runeword-types span {
    padding: 0 5px 0 5px;
}

mdc-select {
    .mdc-text-field--outlined {
        padding-left: 3%;
        padding-right: 3%;
        max-height: 27px;
    }

    .mdc-notched-outline__notch {
        // TODO: Ask about !important, I don't like using it but can't seem to find a nice way to do this.
        width: auto !important;
    }

    .mdc-select__anchor {
        mdc-notched-outline mdc-floating-label, .mdc-select__selected-text-container .mdc-select__selected-text {
            font-size: $regular;
        }
    }

    .input-password {
        .mdc-text-field__input, .mdc-text-field__affix {
            font-size: $regular;
        }

        .mdc-text-field__affix {
            padding-left: 0;
        }
    }

    .mdc-floating-label--required:after {
        color: $red;
    }
}